<div class="container mb-2">
    <div class="d-flex justify-content-between">
        <div class="nav">
            
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
                <a class="navbar-brand logo" href="{{ site:url }}">
                    <img src="{{ main-data:main_logo }}" alt="Amelo" title="Amelo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto mr-auto">
                        {{ navigation_settings:pages_links }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ if is_anchor=='true' }}{{ parent_link }}{{ /if }}{{ link_to_page }}">{{ title }}</a>
                        </li>
                        {{ /navigation_settings:pages_links}}
                    </ul>
                    
                    <button class="amelo-gradient amelo-gradient-nav amelo-font"><a href="{{ navigation_settings:button_link }}">{{ navigation_settings:button_text }}</a></button>
                </div>
            </nav>
            
        </div>
    </div>
</div>